* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-style: normal;
 }
 
 
 .transparent-header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(53, 56, 57, .5);
    z-index: 100;
 }
 
 
 nav {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 
 nav h2, label {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-weight: 550;
    font-style: normal;
 }
 
 
 .menu-toggle {
    display: none;
 }
 
 
 h3, button {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 
 
 /* add CSS to include drop down menu in small screen view */
 
 